<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <title>Event Details</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/css/maps.css">
	<link rel="stylesheet" href="/css/forms.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
</head>

<body>
<div layout:fragment="content">
    <table class="table table-striped table-hover" th:object="${event}">
        <thead>
        	<th><i class="fas fa-bolt"></i> Event</th>
        	<th><i class="fas fa-calendar"></i> Date</th>
        	<th><i class="fas fa-clock"></i> Time</th>
        	<th><i class="fas fa-book-open"></i> Description</th>
        	<th><i class="fas fa-map-marker-alt"></i> Venue</th>
        	<div sec:authorize="hasAnyRole('ADMINISTRATOR', 'EVENT_ORGANISER')">
        		<th> Update Event </th>
        		<th> Delete Event </th>
        	</div>
        </thead>
	  	<tbody>
        	<td style = 'vertical-align:middle' th:text="${event.name}">Event</td>
        	<td style = 'vertical-align:middle' th:text="${{event.date}}">Date</td>
        	<td style = 'vertical-align:middle' th:text="${{event.time}}">Time</td>
        	<td style = 'vertical-align:middle' th:text="${{event.description}}">Description</td>
        	<td style = 'vertical-align:middle' > <a th:href="@{/venues/venuepage/{num}(num=${event.venue.id})}" th:text="${event.venue.name}">Venue</a> </td>
        	<div sec:authorize="hasAnyRole('ADMINISTRATOR', 'EVENT_ORGANISER')">
        		<td>
            		<form th:action="@{'/events/'+ ${id}}">
                		<button type="submit" class="btn btn-info" ><i class="fas fa-pen" aria-hidden="true"></i> Update </button>
               		</form>
            	</td>
	    		<td>
					<form th:action="@{/events/{id}(id=${id})}" th:method="delete">
						<button type="submit" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i> Delete </button>
					</form>
         		</td>
         	</div>
	  	</tbody>
    </table>

    <div id='confirm' th:if="${pass_message}" class="alert alert-success" role="alert" th:text="${pass_message}">*</div>
		<div id='failed' th:if="${fail_message}" class="alert alert-danger" role="alert" th:text="${fail_message}">*</div>
	<div class="eventpage_twitter-form-wrapper">
		<div class="eventpage_twitter-form">
			<form th:action="@{/events/{num} (num=${event.id})}" class="form-inline" th:object="${tweet}" th:method="post" >
				<input class="form-control twitter_input-field" type="text" name="tweet" id="tweet" th:placeholder="${event.name}"/>
				<button type="submit" class="btn btn-primary twitter_send-button"></i> Send Tweet</button>
			</form>
		</div>
	</div>


    <div class="events_events-upcoming-map-wrapper events_events-upcoming-map-wrapper">
        <div class="events_events-upcoming-map" id="map">
            <script th:inline="javascript">

                if (!mapboxgl.supported()) {
                    alert("Your browser does not suport Mapbox GL");
                }

                /*<![CDATA[*/

                var longitude = /*[[${event.venue.longitude}]]*/ 0;
                var latitude = /*[[${event.venue.latitude}]]*/ 0;

                mapboxgl.accessToken = /*[[${mapbox_access_token}]]*/ "";
                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: [longitude, latitude],
                    zoom: 16,
                });

                var eventMarker = new mapboxgl.Marker()
                    .setLngLat([longitude, latitude])
                    .setPopup(new mapboxgl.Popup({ offset: 25 })
                        .setHTML("<h3>" + /*[[${event.name}]]*/ ""
                                 + "</h3><p> Starts at " + /*[[${event.time}]]*/ ""
                                 + "</p>"))
                    .addTo(map);

                /*]]>*/
            </script>
        </div>
    </div>
</div>
