<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title> Update event</title>
  <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
  <div layout:fragment="content">
    <h1> Update event</h1>

    <form th:action="@{/events/update/{num}(num=${id})}" th:object="${event}" modelAttribute="event"   method="post">
      <div class="alert-danger forms-error-bar" th:if="${errorMsg!=null && #strings.length(errorMsg)>0}">
        <span th:text="${errorMsg}"></span>
      </div>
      <div class="form-group">

        <label for="event">Event name:</label>
        <input class="form-control" type="text" maxlength="256" required="required" name="name" id="event" th:value="${event?.getName()}" placeholder="Event" autofocus="autofocus" />

        <label for="description">Event description:</label>
        <input class="form-control" type="text" maxlength="500" name="description" id="description" th:value="${event?.getDescription()}" placeholder="description" autofocus="autofocus" />

        <label for="venue">Venue name:</label>
        <select th:field="*{venue}" class="form-control" style="float:left">
        	<option th:unless="${event?.getVenue()?.getId() == null}" th:value="${event?.getVenue()?.getId()}" th:text="${event?.getVenue()?.getName()} + ' (Current Venue)'"></option>
        	<option th:each="venue : ${venues}" th:unless="${venue.id == event?.getVenue()?.getId()}" th:value="${venue.id}" th:text="${venue.name}"></option>
        </select><br>

        <label for="date">Date:</label>
        <input class="form-control" type="date" required="required" name="date" id="date" th:value="${event?.getDate()}" placeholder="Date" autofocus="autofocus" />

        <label for="time">Time:</label>
        <input class="form-control" type="time" name="time" id="time" th:value="${event?.getTime()}" placeholder="Time" autofocus="autofocus" />

      </div>

      <button class="btn btn-primary" type="submit"><i class="fas fa-edit" aria-hidden="true"></i> Update event</button>

      <a class="btn btn-warning" role="button" href="/events"><i class="fas fa-ban" aria-hidden="true"></i>Cancel</a>

    </form>


  </div>
</body>

